<tr id="sample-<%=sample.id%>">
  <td><%= sample_measurements.collect {|x| link_to x.run.id, qc_run_path x.run.id} %></td>
  <td><%= sample.sample_date %></td>
  <td><%= sample.plot.study.try(:name) %></td>
  <td><%= sample.sample_type.try(:name)%></td>
  <td><%= sample.plot_name %></td>
  <% sample.analytes.all.uniq.sort.each do |analyte| %>
    <td><%= analyte.name %>: </td>
    <td><%= number_with_precision(sample.average(analyte), precision: 3) %></td>
    <td>
        <%= button_to "Toggle", {class: 'btn btn default', action: 'toggle', id: sample.id, analyte: analyte.name }, {:remote => true} %>
    </td>
  <% end %>
</tr>
