<tr class="updated_<%=run.updated?%> <%=cycle('even','odd')%>">
<td><%= run.run_date %></td>
<td><%= run.sample_date %></td>
<td><%= run.sample_type_name %></td>
<td><%= run.samples.size %> samples</td>
<td><%= link_to "qc", edit_run_path(run) %></td>
<td><%= link_to 'destroy', run_path(run), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
