<li class="updated_<%=run.updated? %>">
<%= run.id %>
<%= run.run_date %> <%= run.sample_type_name %> <%= run.samples.size %> samples
<%= link_to "qc", edit_run_path(run) %>
<%= link_to 'delete', run_path(run), :confirm => 'Are you sure?', :method => :delete %>
</li>

