<tr class="updated_<%=run.updated?%> <%=cycle('even','odd')%>">
  <td><%=run.id %></td>
<td><%= run.run_date %></td>
<td><%= run.sample_date %></td>
<td><%= run.sample_date_range %></td>
<td><%= run.sample_type_name %></td>
<td><%= run.approved_samples %>/<%= run.samples.size %> samples</td>
<td><%= link_to "qc", qc_run_path(run) %></td>
<td><%= link_to "download", run_path(run, :format=>:csv) %>
<td><%= link_to "edit", edit_run_path(run) %>
<td><%= link_to 'destroy', run_path(run), :confirm => 'Are you sure?', :method => :delete %></td>
<td><%= run.comment %></td>
</tr>
