<%= form_for(:run, :url => runs_path, html: {multipart: true, class: "form", role: "form"}) do |f| %>
  <%= render "shared/error_messages", :target => @run %>
  <div class="form-group">
  <%= f.label :comment, "Comment" , class: 'control-label'%>
  <%= f.text_area :comment, class: "form-control" , rows: 3 %>
  </div>
  <div class="form-group">
    <%= f.label :sample_date, "Sample Date (for incubations, this is the day the bag is collected)", class: "control-label" %>
    <%= f.date_select :sample_date,  {:include_blank => true}%>
  </div>
  <div class="form-group">
    <%= f.label :start_date, "Start Date (for incubations only, this is the date the sample is buried )", class: "control-label" %>
    <%= f.date_select :start_date,  {:include_blank => true} %>
  </div>
  <divclass="form-group">
  <%= f.label :initial_sample_date, "Initial Sample Date (for incubations only, this is the date the sample is removed from the field (the initial sample)' )", class: "control-label" %>
  <%= f.date_select :initial_sample_date,  {:include_blank => true}  %>
  </div>
  <div class="form-group">
    <%= f.label :run_date, "Run Date", class: "control-label" %>
    <%= f.date_select :run_date,  {:include_blank => true} %>
  </div>
  <div class="form-group">
    <%= f.label :sample_type_id, "Sample Type", class: "control-label" %>
    <%= f.select :sample_type_id, options_for_select(SampleType.sample_type_options), class: "form-control" %>
  </div>
  <%= submit_tag "Submit", :disable_with => "Submitting..."  %>
<% end %>
