<h1>Runs</h1>
<%= link_to "new", new_run_path %>
<%= link_to "CN runs", runs_path(:type => 'cn') %>
<%= link_to "Studies and Plots", studies_path %>
<table class='table-auto border-collapse border-gray-300 border-spacing-4'>
  <tr>
    <th>id</th>
    <th>Run Date</th>
    <th>Sample Date</th>
    <th>Sample Date Range</th>
    <th>Name</th>
    <th>Approved/Size</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Comment</th>
    <th>Files</th>
  </tr>

  <% @runs.each do |run| %>
    <% cache run do %>
      <%= render run %>
    <% end %>
  <% end %>
</table>
<%= paginate @runs %>
<br/>

<%= link_to "new", new_run_path %>
<%= link_to "Studies and Plots", studies_path %>
