<h1>New Run</h1>

<% @sample_type_options = [] %>
<% 10.times do |number|
    unless @run.sample_type_name(number) == "Unknown Sample Type"
      @sample_type_options += [[@run.sample_type_name(number), "#{number}"]]
    end
end %>

<%= form_for(:run, :url => runs_path, :html => {:multipart => true}) do |f| %>
  <%= render "shared/error_messages", :target => @run %>
  <p>
    <%= f.label :sample_date, "Sample Date" %>
    <%= f.date_select :sample_date %>
    <div class="run_errors"><%= flash[:sample_date_error] %></div>
  </p>
  <p>
    <%= f.label :start_date, "Start Date (for incubations)" %>
    <%= f.date_select :start_date %>
    <div class="run_errors"><%= flash[:start_date_error] %></div>
  </p>
  <p>
    <%= f.label :run_date, "Run Date" %>
    <%= f.date_select :run_date %>
    <div class="run_errors"><%= flash[:run_date_error] %></div>
  </p>
  <p>
    <%= f.label :sample_type_id, "Sample Type" %>
    <%= f.select :sample_type_id, options_for_select(@sample_type_options) %>
    <div class="run_errors"><%= flash[:sample_type_id_error] %></div>
  </p>
  <p>
    <%= f.label :data, "File"%>
    <%= file_field :data, 'file' %>
    <div class="run_errors"><%= flash[:file_error] %></div>
  </p>
  <%= submit_tag "Upload", :disable_with => "Uploading..."  %>
<% end %>