<div class='container'>
<h1>qc</h1><span id='spinner' style="display:none"><img src='/images/spinner.gif'/></span>

<p>
<%= link_to 'back', runs_url %>
</p>

<p>
  Run Date: <%= @run.run_date %>
</p>
<p>
  Sample Date: <%= @run.sample_date %>
</p>
<p>
  Sample Type: <%= @run.sample_type_name %>
</p>
<p>
Files: 
<% @run.data_sources.each do |file| %>
  <%= link_to file.data.url, file.data.url %>
<% end %>
</p>
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Plot</th>
      <th>Date</th>
      <% @analytes.each do |analyte| %>
        <th rowspan='2'><%= analyte.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'sample', :collection => @samples %>
  </tbody>
</table>
</div>
