<p>
	Run Date: <%= @run.run_date %>
</p>
<p>
	Sample Date: <%= @run.sample_date %>
</p>
<p>
	Sample Type: <%= @run.sample_type_name %>
</p>
<p>
  Number of Samples: <%= @run.samples.size %>
</p>
<%= link_to 'back', @back %> 
<%= link_to "qc", qc_run_path(@run) %> 
<%= link_to "edit", edit_run_path(@run) %> 
<%= link_to 'destroy', run_path(@run), :confirm => 'Are you sure?', :method => :delete %>
