<h1>Login</h1>

<%= form_for @user_session do |f| %>
  <%= render "shared/error_messages", :target => @user_session %>
  <p>
    <%= f.label :openid_identifier %><br />
    <%= f.text_field :openid_identifier %>
  </p>
  <p>
    <%= f.submit "Login" ,:disable_with => 'Logging in ...'%>
  </p>
<% end %>


