<!DOCTYPE html>
<html>
<head>
  <title><%= controller_name.humanize.titleize %>: <%= controller.action_name %></title>
  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
  <li>
  <%= link_to('Sign Out', destroy_user_session_path) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Sign In', new_user_session_path)  %>  
  </li>
<% end %>

<%= yield  %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
